@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif; color: #333;}

/* common */
section {
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px dashed #ccc;
}
section h3 {
  text-align: center;
  margin-bottom: 10px;
}
.container {
  height: 200px;
  border: 5px solid red;
  border-radius: 10px;
}
.container .item {
  padding: 10px 20px;
  border: 2px solid blue;
}

/* flex 예제1 */
.flex-ex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.flex-ex1 .flex-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
}

/* flex 예제2 */
.flex-ex2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-ex2 div:not(div[id="main"]) {
  padding: 20px;
  box-sizing: border-box;
}
.flex-ex2 #header {
  height: 100px;
  background-color: red;
  color: #fff;
}
#main {
  display: flex;
}
.flex-ex2 #main #nav {
  flex-grow: 1;
  height: 300px;
  background-color: yellow;
}
.flex-ex2 #main #content {
  flex-grow: 3;
  height: 300px;
  background-color: blue;
  color: #fff;
}
.flex-ex2 #footer {
  height: 100px;
  background-color: aqua;
}
