@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif; color: #333;}

/* colors */
:root {  
  --main-color: #E3FEF7;
  --common-color: #77B0AA;
  --accent-color: #003C43;
  --hover-color: #135D66;
}


/* desktop */
@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}
/* tablet */
@media (max-width: 1199px) and (min-width: 800px) {
  :root {
    font-size: 14px;
  }
}
/* mobile */
@media (max-width: 799px) {
  :root {
    font-size: 12px;
  }
}

/* common */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* content radius */
.radius {
  border-radius: 1.25rem;
}

/* common btn style */
button, input[type="submit"], input[type="reset"] {
  appearance: none;
  padding: .625rem .9375rem;
  border: 0;
  border-radius: .625rem;
  font-size: 1rem;
  background-color: var(--common-color);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: var(--hover-color);
  box-shadow: 0 .0625rem .5rem var(--hover-color);
}


/* main - section common style */
section {
  padding: 1.25rem;
}
section h3 {
  margin-bottom: .625rem;
  font-size: 1.5rem;
  color: var(--accent-color);
}

/* product item common style */
section .product-item {
  padding: 1.25rem;
  border: .0625rem solid var(--common-color);
  background-color: rgba(227, 254, 247, 0.5);
}

section .product-item .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 50%;
  border: .0625rem dotted var(--common-color);
  background-color: #fff;
}
section .product-item .product-img img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .product-item .product-contents {
  line-height: 1.6;
}
section .product-btn {
  margin-top: 1.25rem;
  text-align: right;
}

/* layout */

/* header */
header {
  margin: .625rem .625rem 0;
}
/* header - logo */
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  background-color: var(--accent-color);
  color: #fff;
}
header .logo img {
  width: 3.125rem;
}
header .logo h1 {
  margin-left: .625rem;
}
header .logo a {
  transition: 0.3s;
}
header .logo a:hover {
  opacity: 0.8;
}

/* header - main menu */
header nav {
  margin-top: .625rem;
  padding: 1.25rem 0;
  background-color: var(--common-color);
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li a {
  padding: .3125rem;
  text-transform: uppercase;
  letter-spacing: .3125rem;
  color: #fff;
  transition: 0.3s;
}
header nav ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 .5rem var(--hover-color);
}


/* main - common */
main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: .625rem;
  margin: .625rem .625rem;
}
main .category, main .cart {
  flex: 0 0 15%;
}

/* main - category menu */
main .category {
  background-color: var(--main-color);
}
main .category ul {
  background-color: var(--common-color);
  color: #fff;
}
main .category ul li {
  width: 100%;
}
main .category ul li:not(:last-child) {
  border-bottom: .0625rem dashed #fff;
}
main .category ul li a {
  display: block;
  padding: .625rem;
  width: 100%;
  transition: 0.3s;
}
main .category ul li a:hover {
  background-color: var(--hover-color);
}

/* main - product */
main .product {
  display: flex;
  justify-content: space-between;
  gap: .625rem;
  padding: 0;
}
main .product .product-contents h4 {
  margin-bottom: .3125rem;
  font-size: 1.125rem;
}
main .product .product-contents h4 a {
  padding: 5px 0;
  color: var(--hover-color);
  transition: 0.3s;
}
main .product .product-contents h4 a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

/* main - cart */
main .cart {
  background-color: var(--main-color);
}
main .cart-view p {
  padding: .625rem;
}
main .cart-view a {
  margin-top: auto;
  display: block;
  text-align: right;
  font-size: .75rem;
  color: var(--common-color);
  transition: 0.3s;
}
main .cart-view a:hover {
  opacity: 0.5;
}

/* main - cart login */
main .cart .log-in {
  margin-top: 1.875rem;
}
main .cart .log-in form {
  padding: .625rem;
}
main .cart .log-in label {  
  display: inline-block;
  margin-bottom: .3125rem;
  font-size: .875rem;
}
/* login input */
main .input-group {
  display: flex;
  flex-direction: column;
}
main .input-group #id, main .input-group #pw {
  display: block;
  margin-bottom: .5rem;
  padding: .3125rem;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--common-color);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}
main .input-group #id {
  order: 2;
}
main .input-group #pw {
  order: 4;
}
main .input-group label[for="id"] {
  order: 1;
}
main .input-group label[for="pw"] {
  order: 3;
}
main .input-group #id:focus, main .input-group #pw:focus {
  outline: none;
  border-bottom: 2px solid var(--hover-color);
}
main .input-group #id:focus + label, main .input-group #pw:focus + label {
  font-weight: 800;
  color: var(--hover-color);
}

/* login btns */
main .cart .log-in .cart-btn {
  margin: .625rem 0;
  display: flex;
  justify-content: space-between;
  gap: .3125rem;
}
main .cart .log-in .cart-btn input {
  flex-grow: 1;
}

/* login spot menu */
main .cart .log-in .join-find {
  text-align: center;
}
main .cart .log-in .join-find a {
  font-size: .75rem;
  color: var(--common-color);
  transition: 0.3s;
}
main .cart .log-in .join-find a:hover {
  opacity: 0.5;
}
main .cart .log-in .join-find a:first-child:after {
  content: "";
  opacity: 0.3;
  padding-left: .5rem;
  margin-right: .3125rem;
  border-right: .0625rem solid var(--common-color);
}

/* footer */
footer {
  margin: 0 .625rem .625rem;
  padding: 1.25rem 0;
  text-align: center;
  background-color: var(--accent-color);
  font-size: .875rem;
  color: #fff;
}
small {
  margin-left: 1.25rem;
  font-size: .875rem;
}

/* tablet */
@media (max-width: 1199px) and (min-width: 800px) {
  html, body {
    height: fit-content;
  }
  #wrapper {
    padding: 0 6.25rem;
  }
  /* header - menu */
  header nav {
    padding: 1.25rem;
  }
  header nav ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: .625rem;
  }
  header nav ul li a {
    letter-spacing: .1875rem;
  }
  /* main */
  main {
    flex-wrap: wrap;
  }
  main .category {
    flex-grow: 0.4;
    order: 1;
  }
  main .product {
    order: 3;
  }
  main .cart {
    flex-grow: 0.6;
    order: 2;
  }
  /* category */
  main .category {
    display: flex;
    flex-direction: column;
  }
  main .category ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .category ul li {
    height: 100%;
  }
  main .category ul li a {
    display: flex;
    align-items: center;
    height: 100%;
  }
  /* product */
  section .product-item .product-img  {
    margin-bottom: 0;
  }
  main .product {
    display: block;
  }
  main .product-item {
    display: flex;
    gap: 1.25rem;
  }
  section .product-item .product-img {
    flex: 0 0 39%;
    padding: 1.25rem;
  }
  main .product-item:not(:last-child) {
    margin-bottom: .625rem;
  }
  section .product-item .product-contents {
    display: flex;
    flex-direction: column;
  }
  section .product-item .product-contents p {
    flex-grow: 1;

  }
  section .product-btn  {
    margin-top: .625rem;
  }
}

/* mobile */
@media (max-width: 799px) {
  html, body {
    height: fit-content;
  }
  #wrapper {
    padding: 0 3.125rem;
    width: 100%;
    height: 100%;
  }
  .radius {
    border-radius: .625rem;
  }

  /* header - menu */
  header nav {
    padding: .625rem;
  }
  header nav ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: .3125rem;
  }
  header nav ul li a {
    letter-spacing: .0625rem;
  }
  /* main */
  main {
    flex-direction: column;
    flex-wrap: wrap;
  }
  main .category {
    order: 2;
  }
  main .product {
    order: 3;
  }
  main .cart {
    order: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: .625rem;
  }
  main .cart-view {
    margin-bottom: 0;
    width: 50%;
  }
  main .cart .log-in {
    width: 50%;
  }

  /* product */
  section .product-item .product-img  {
    margin-bottom: 0;
  }
  main .product {
    display: block;
  }
  main .product .product-contents h4 {
    text-align: center;
  }  
  section .product-item .product-img {
    margin-bottom: .625rem;
    padding: 1.875rem;
  }
  main .product-item:not(:last-child) {
    margin-bottom: .625rem;
  } 
  section .product-item .product-contents {
    display: flex;
    flex-direction: column;
  }
  section .product-item .product-contents p {
    padding: 0 1.25rem;
    text-align: justify;
  }
  section .product-btn  {
    margin: .625rem auto 0;
  }
}