@charset "utf-8";

/* common font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;}

/* colors */
:root {
  --main-color: #;
  --common-color: #;
  --accent-color: #;
  --hover-color: #;
}

/* common */
html, body {
  width: 100%;
  height: 100%;
}


/* layout */
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.color-box {
  width: 300px;
  height: 200px;
  border: 2px solid red;
}
button {
  appearance: none;
  padding: 15px 30px;
  font-family: 'HSSanTokki20-Regular';
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  outline: 0;
  border: 2px solid pink;
  border-radius: 10px;
  color: pink;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: pink;
  color: #fff;
}