@charset "utf-8";

/* common font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
}

/* colors */
:root {
  --main-color: #;
  --common-color: #;
  --accent-color: #;
  --hover-color: #;
}

/* layout */
.bubbling1 {
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border: 2px solid pink;
}
.bubbling1 code {
  padding: 0 5px;
  font-style: normal;
  background-color: wheat;
}

.bubbling2 {
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border: 2px solid pink;
}

.bubbling2 div,
.bubbling2 p {
  margin: 10px 0;
  padding: 20px;
  border: 2px solid palegoldenrod;
}

#form {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: green;
  color: #fff;
}

#form div {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 20px;
  width: 300px;
  height: 300px;
  background-color: blue;
}

#form div p {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 20px;
  width: 200px;
  height: 200px;
  background-color: red;
}

button {
  display: inline-block;
  padding: 10px 20px;
}
