@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif; color: #333;}

html, body {
  width: 100%;
  height: 100%;
}

#z-index1 {
  height: 50%;
}

#z-index1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

#z-index1 #box1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(138, 43, 226, 0.8);
  color: #fff;
}
#z-index1 #box2 {
  position: absolute;
  top: 80px;
  left: 130px;
  background: rgba(220, 20, 60, 0.8);
  color: #fff;
}
#z-index1 #box3 {
  position: absolute;
  top: 160px;
  left: 260px;
  z-index: -1;
  background: rgba(0, 128, 128, 0.8);
  color: #fff;
}

#z-index2 {
  position: relative;
}
#z-index2 img {
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  width: 300px;
  opacity: 0.3;
}