@charset "utf-8";

/* common font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;}

/* common */
html, body {
  width: 100%;
  /* height: 100%; */
}


/* layout */
div {
  position: absolute;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  background-color: red;

  /* 
    animation
    html 요소에 애니메이션 효과를 적용시킨다. 애니메이션을 적용하기 위해서
    특별한 속성이 쓰여지는데 이를 @keyframes라 한다.
    애니메이션은 하나의 줄거리(keyframes)를 구성하여 줄거리 내부에서 세부 움직임을
    시간 흐름 단위로 제어하여 요소의 움직임을 표현한다.

    transition 과 animation의 차이
    1. 일반적으로 transition 효과는 요소 프로퍼티값이 다른 값으로 변화할 때 주로 사용하며
      요소의 로드와 함께 자동으로 발동되지 않는다.
    2. animation 프로퍼티는 keyframes를 사용할 수 있고,
      전체 줄거리의 재생과 정지, 반복까지 제어할 수 있다.
  */
  
  /* animation-name: move, fadeOut, changeColor; */
  /* ↑↑↑ 여러 개 사용할 때는 콤마로 구분 */
  animation: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  /* 
    animation-direction : 애니메이션이 종료된 이후 반복될 때 진행하는 방향을 지정한다. 
    normal : default. from(0%)에서 to(100%) 방향으로 진행한다.
    reverse : to에서 from 방향으로 진행한다.
    alternate : 홀수번째는 normal로, 짝수번째는 reverse로 진행한다.
    alternate-reverse : 홀수번째는 reverse로, 짝수번째는 normal로 진행한다.
  */
  animation-direction: alternate;
}


/* keyframe */
@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 300px;
  }
}

/* keyframe */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* keyframe */
@keyframes changeColor {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

/* keyframe */
@keyframes myAnimation {
  0% {
    background-color: red;
    top: 0;
    left: 0;
  }
  25% {
    background-color: yellow;
    top: 0;
    left: 200px;
  }
  50% {
    background-color: blue;
    top: 200px;
    left: 200px;
  }
  75% {
    background-color: green;
    top: 200px;
    left: 0;
  }
  100% {
    background-color: red;
    top: 0;
    left: 0;
  }
}
