@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif; color: #333;}

div:first-child {
  margin-top: 20px;
}

div {
  margin: 0 20px;
  margin-bottom: 20px;
}
ul {
  padding: 20px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.disc ul {
  list-style-type: disc;
}

.none ul {
  list-style-type: none;
}

.list-img ul {
  list-style-type: none;
  /* list-style-image: url(../image/check.png); */
  /* 크기가 커서 적용 안됨.... 사이즈 줄여야 잘 될듯? */
}
.list-img ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.list-img ul li:last-child {
  margin-bottom: 0;
}

.horizon-menu ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.horizon-menu ul li {
  padding: 5px 0; 
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 5px;
  box-sizing: border-box;
}
.horizon-menu ul li a {
  position: relative;
  transition: all 0.5s;
}
.horizon-menu ul li a::after {
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #ccc;
  transition: all 0.5s;
}
.horizon-menu ul li a:hover {
  color: #ccc;
}
.horizon-menu ul li a:hover:after {
  width: calc(100% - 5px);
  left: 0;
}
