@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif; color: #333;}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 80px);
  /* justify-items: center;
  align-items: center; */
  /* align-content: space-between; */
  justify-content: space-evenly;
  gap: 5px;
  height: 500px;
  border: 5px solid teal;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: beige;
  border: 5px solid tomato;
  border-radius: 8px;
}

/* 기본 선택 */
/* .item:nth-child(1) {
  justify-self: start;
  align-self: start;
}
.item:nth-child(2) {
  align-self: start;
}
.item:nth-child(3) {
  justify-self: end;
  align-self: start;
}

.item:nth-child(4) {
  justify-self: start;
}
.item:nth-child(5) {

}
.item:nth-child(6) {
  justify-self: end;
}

.item:nth-child(7) {
  justify-self: start;
  align-self: end;
}
.item:nth-child(8) {
  align-self: end;
}
.item:nth-child(9) {
  justify-self: end;
  align-self: end;
} */



/* 수식 사용하여 선택
/* 1,4,7 */
/* .item:nth-child(3n+1) {
  justify-self: start;
} */
/* 2,5,8 */
/* .item:nth-child(3n+2) {
  justify-self: center;
} */
/* 3,6,9 */
/* .item:nth-child(3n+3) {
  justify-self: end;
}
 */
/* 1,2,3 */
/* .item:nth-child(n+1):nth-child(-n+3) {
  align-self: start;
} */
/* 4,5,6 */
/* .item:nth-child(n+4):nth-child(-n+6) {
  align-self: center;
} */
/* 7,8,9 */
/* .item:nth-child(n+7):nth-child(-n+9) {
  align-self: end;
} */ 